
.container__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  gap: 1rem;

  h2 {
    color: $grey;
    font-family: $main-font;
    font-size: 1.2rem;
  }
}

  .container__button {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: $grey;
    font-family: $main-font;
  }
    .btn__login {
      background-color: $pink;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      font-family: $main-font;
      font-weight: bold;
      border-radius: 5px;
    }

