
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
$main-font: 'Raleway', sans-serif;
$brown: #171B36;
$green: #09E8B2;
$pink: #DE7773;
$grey:#666;
$main-color: #dbe3de;